// colors
$cwhite: white;
$cgrey:#8eb2c7;
$cdarkgray:#505a61;
$bcorange: #efa758;
$blightorange: #f5b768;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@500;700&display=swap');
$raleway:'Raleway', sans-serif;
$kaushan:'Kaushan Script', cursive;
.button{
            
    background-color: $bcorange;
    border: none;
    border-radius: 8px;
    width: 190px;
}

*{
    font-family: $raleway;
   
}
h6{
    font-family: $kaushan;
    color: $bcorange;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: none;
    letter-spacing: .2px;
    line-height: 1.5em;
}
    
h1{
    color:black;
    font-size: 3.75em;
    font-weight: 900;
    text-transform: uppercase;
    span{
        color:#8eb2c7;
        margin: 0;
        line-height: 1.2em;
    }
}

// INTRO
.intro-wrapper{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
    .header-wrapper{
        position: sticky;
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        img{}
        nav{
            position: sticky;
        }
        ul{
            display: flex;
            align-items: center;
        }
        li{
            font-size: large;
            
            margin: 10px;
            list-style: none;
            font-size: 14px;
            a{
                text-decoration: none;
                color: $cwhite;
            }
        a:hover{
            color:$cgrey;
        }
        }
        .button{
            background-color: $bcorange;
            color: white;
            height: 50px;
            
        }
        .button:hover{
            background-color: $cgrey;
            transition: 1ms;
        }
        .button-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            
        }
    }
    .freestyle-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// ABOUT US
.about-us-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 100px 100px;
    
    .about-us-form{
        grid-area: 1 / 1 / 4 / 3;
         background-color: $bcorange;
         border-radius: 5px;
        .form-tittle{
            background-color: $blightorange;
            background-repeat: no-repeat;
            h2{
                margin: 0;
                }
        }
    }
    .about-us-info{
         grid-area: 1 / 3 / 4 / 6;
         .info-cards{
            display: flex;
            justify-content: space-around;
        }
        .card{
            width: 190px;
            height: 155px;
            background-color: #eaf2f7;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #808b90;
            a{
                color: #808b90;
                text-decoration: none;
            }
        }
        .card:hover{
            background-color: #505a61;
            color: white;
            a{
                color: white;
            }
        }
        h3{
            color:$bcorange;
            font-family: $kaushan;
            font-size: 1.5em;
            font-weight: 400;
            text-transform: none;
            letter-spacing: .2px;
            line-height: 1.5em;
            margin-top: 20px;
        }
        h1{
            font-size: 3.75em;
            font-weight: 900;
            font-style: italic;
            line-height: 1.03;
            text-decoration: none;
            text-transform: uppercase;
            margin:0;
            color: $cdarkgray;
        }
        p{
            color: #808b90;
        }
    }
    .about-us-activity{
        border-radius: 5px;
        grid-area: 4 / 1 / 7 / 6;
        background-repeat: no-repeat;
        background-position: center;
        
    }


   
}

// SECRET SEASON

    .secret-season-wrapper{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        margin-left: 100px !important; 
    
        p{
            color: #808b90;
        }
        .button{
            background-color: $bcorange;
            color: white;
            height: 50px;
            
        }
        .button:hover{
            background-color: $cgrey;
            transition: 1ms;
        
    }
}

//  SNOW MOUNTAIN 
   
.snow-mountain-wrapper{
   margin: 0 100px;

   .header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
   }
 h6{

 }  
 h1{}
 .snow-mountain-nav{
   .nav-items{
    display: flex;
    justify-content: center;
    list-style: none;
   } 
   .item{
    margin-right: 10px;
    background-color: red;
   }
 } 
 .snow-mountain-cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
 }
 .card1 .card2 .card3 {
    display: flex;
    flex-direction: column;
 }
 .card-img{
    width: 370px;
    height: 260px;
 }
}

// SEASON PASSES
.season-passes-wrapper{
display: flex;
align-content: flex-end;
flex-wrap: wrap;
flex-direction: column;
    .season-passes-header{

    }
    .season-passes-cards{
        display: flex;
        .card1{
            background-color:#efa758;
            color: $cwhite;
        }
        .card2{
            background-color: $cwhite;
            h3{
                color: #8eb2c7;
            }
            p{
                color: #808b90;
            }
            h4{
                color: #efa758;
            }
        }
    }
    .season-passes-footer{
        p{
            color: #808b90;
        }
    }
}

// GALLERY
.gallery{
    .gallery-header{

    }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .image1{grid-area: 1 / 1 / 3 / 2;}
    .image2{grid-area: 3 / 1 / 6 / 2;}
    .image3{grid-area: 1 / 2 / 4 / 3;}
    .image4{grid-area: 4 / 2 / 6 / 3;}
    .image5{grid-area: 1 / 3 / 3 / 4;}
    .image6{grid-area: 3 / 3 / 6 / 4;} 
}

