// colors
$cwhite: white;
$cgrey:#8eb2c7;
$cdarkgray:#505a61;
$bcorange: #efa758;
$blightorange: #f5b768;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@500;700&display=swap');
$raleway:'Raleway', sans-serif;
$kaushan:'Kaushan Script', cursive;
.button{
            
    background-color: $bcorange;
    border: none;
    border-radius: 8px;
    width: 190px;
}

*{
    font-family: $raleway;
   
}
h6{
    font-family: $kaushan;
    color: $bcorange;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: none;
    letter-spacing: .2px;
    line-height: 1.5em;
}
    
h1{
    color:black;
    font-size: 3.75em;
    font-weight: 900;
    text-transform: uppercase;
    span{
        color:#8eb2c7;
        margin: 0;
        line-height: 1.2em;
    }
}

// INTRO
.intro-wrapper{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
   
    .header-wrapper{
        position: sticky;
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        img{
        }
        nav{
            position: sticky;
        }
        ul{
            display: flex;
            align-items: center;
        }
        li{
            font-size: large;
            
            margin: 10px;
            list-style: none;
            font-size: 14px;
            a{
                text-decoration: none;
                color: $cwhite;
            }
        a:hover{
            color:$cgrey;
        }
        }
        .button{
            background-color: $bcorange;
            color: white;
            height: 50px;
            
        }
        .button:hover{
            background-color: $cgrey;
            transition: 1ms;
        }
        .button-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            
        }
    }
    .freestyle-img{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 600px;
    }
}

// ABOUT US
.about-us-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 100px 100px;
    border-radius: 5px;
    
    .about-us-form{
        grid-area: 1 / 1 / 4 / 3;
         background-color: $bcorange;
         border-radius: 5px;
        .form-tittle{
            display: flex;
            justify-content: space-between;
            background-color: $blightorange;
            background-repeat: no-repeat;
            color: #eaf2f7;
            padding: 20px 0 0 20px;
            h2{
                margin: 0;
                }
            a{
                text-decoration: none;
                color: #eaf2f7;
            }
            
        }
        .forms{
            padding: 20px;
            input{
                max-width: 100%;
                height: 2.5em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 1em;
                padding-right: 1em;
                color:white;
                background-color: $blightorange;
                border:none;    
            }
            label{
                display: block;
                font-size: .875em;
                font-weight: 500;
                line-height: 1.36;
                margin-bottom: 0.5em;
                opacity: .8;
                color: #815614;
            }
          
        }
        .form-wrap{
           display: inline-block;
           padding-right: 14px;
           padding-bottom: 25px;
        }
    }
    .about-us-info{
         grid-area: 1 / 3 / 4 / 6;
         .info-cards{
            display: flex;
            justify-content: space-around;
        }
        .card{
            width: 190px;
            height: 155px;
            background-color: #eaf2f7;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #808b90;
            flex-direction: column;
            img{
                padding-bottom: 20px;
            }
            a{
                color: #808b90;
                text-decoration: none;
            }
        }
        .card:hover{
            background-color: #505a61;
            color: white;
            a{
                color: white;
            }
            .tel:hover{
                color: #efa758;
            }
        }
        h3{
            color:$bcorange;
            font-family: $kaushan;
            font-size: 1.5em;
            font-weight: 400;
            text-transform: none;
            letter-spacing: .2px;
            line-height: 1.5em;
            margin-top: 20px;
        }
        h1{
            font-size: 3.75em;
            font-weight: 900;
            font-style: italic;
            line-height: 1.03;
            text-decoration: none;
            text-transform: uppercase;
            margin:0;
            color: $cdarkgray;
        }
        p{
            color: #808b90;
        }
    }
    .about-us-activity{
        border-radius: 5px;
        grid-area: 4 / 1 / 7 / 6;
        background-repeat: no-repeat;
        background-position: center;
        
    }


   
}

// SECRET SEASON

    .secret-season-wrapper{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        margin-left: 100px !important; 
        h1{
            margin-top: 0px;
            margin-bottom: 30px;
        }
        h6{
            margin-bottom: 0px;
        }
    
        p{
            color: #808b90;
        }
        .button{
            background-color: $bcorange;
            color: white;
            height: 50px;
            
        }
        .button:hover{
            background-color: $cgrey;
            transition: 1ms;
        
    }
}

//  SNOW MOUNTAIN 
   
.snow-mountain-wrapper{
   margin: 0 100px;

   .header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
   }
 h6{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
 }  
 h1{
    margin-top: 0px;
    margin-bottom: 30px;
    color: $cdarkgray;
    font-family: $raleway;
    font-size: 3.75em;
    font-weight: 900;
    font-style: italic;
}
 .snow-mountain-nav{
   .nav-items{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 100px;
    
   } 
   .item{
    margin-right: 1px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #e5e5e5;
    color:#808b90;
    font-style: italic;
    font-size: 18px;
    height: 40px;
   }
   .item:hover{
    background-color:#efa758;
    color: $cwhite;
    border-radius: 2px;
    cursor: default;
   }
   .item-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
   }

 } 
 .snow-mountain-cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    h3{
        color: $cdarkgray;
        font-family: $raleway;
        font-size: 1.874em;
        font-weight: 900;
        font-style: italic;
        line-height: 1.1;
        text-decoration: none;
        text-transform: uppercase;
    }
    p{
        color: #808b90;
    }
    .card-button{
        display: flex;
        justify-content: center;
    }
    .button{
        font-family: $raleway;
       background-color: transparent;
       color: #8eb2c7;
       font-size: 14px;
       line-height: 14px;
       font-weight: bolder;
       letter-spacing: 0;
       font-style: italic;
    }
    .button:hover{
        color:#efa758
    }
 }
 .card1 .card2 .card3 {
    display: flex;
    flex-direction: column;
 }
 .card-img{
    width: 370px;
    height: 260px;
 }
}

// SEASON PASSES
.season-passes-wrapper{
margin-top: 100px;
display: flex;
align-content: flex-end;
flex-wrap: wrap;
flex-direction: column;
    .wrapper{
        width: 50%;
        padding: 0 100px;
        h6{
            margin-bottom: 0px;
        }
        h1{
            margin-top: 0px;
            color: rgb(80, 90, 97);
            font-family: $raleway;
            font-size: 3.75em;
            font-weight: bolder;
            font-style: italic;
        }
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .season-passes-cards{
        display: flex;
        .card1{
            background-color:#efa758;
            color: $cwhite;
            padding: 20px;
            border-radius: 5px;
        }
        .card2{
            background-color: $cwhite;
            padding: 20px;
            border-radius: 5px;
            h3{
                color: #8eb2c7;
            }
            p{
                color: #808b90;
            }
            h4{
                color: #efa758;
            }
        }
    }
    .season-passes-footer{
        display: flex;
        justify-content: flex-end;
        text-align: right;
        
        p{
            color: #808b90;
            width: 70%;
        }
    }
}

// GALLERY
.gallery{
    .gallery-header{
        margin-top: 100px;
        text-align: center;
        h1{
            margin-top: 0px;
            margin-bottom: 30px;
            color: #505a61;
            font-family: $raleway;
            font-size: 3.75em;
            font-weight: 900;
            font-style: italic;
        }
        h6{
            margin-bottom: 0px;
        }
    }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: 0 100px;
        margin-bottom: 100px;
    }
    .image1{
        grid-area: 1 / 1 / 3 / 2;
        width: 414px;
        height: 309px;
    }
    .image2{
        grid-area: 3 / 1 / 6 / 2;
        width: 420px;
        height: 481px;
    }
    .image3{
        grid-area: 1 / 2 / 4 / 3;
        width: 420px;
        height: 481px;
    }
    .image4{
        grid-area: 4 / 2 / 6 / 3;
        width: 414px;
        height: 309px;
    }
    .image5{
        grid-area: 1 / 3 / 3 / 4;
        width: 414px;
        height: 309px;
    }
    .image6{
        grid-area: 3 / 3 / 6 / 4;
        width: 420px;
        height: 481px;
    } 
  
}

// TESTMONIALS
.testimonials-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 100px;

    .testimonials-header{
        h6{
            margin-bottom: 0px;
        }
        h1{
            color: #eaf2f7;
            font-weight: bolder;
            font-style: italic;
            margin-top: 0px;
        }
    }
    .testimonials-content{
        display: flex;
        img{
            width:20px;
            height: 20px;
            padding-right: 20px;
        }
       
        p{
            color: #eaf2f7;
            padding-top: 0;
        }
        h5{
            color: #efa758;
        }
    }
    .testimonials-footer{
        h5{
            color: #efa758;
            margin-left: 40px;
            margin-bottom: 40px;
        }
        img{
            width: 77px;
            height: 77px;
        }
    }
}

// FOOTER
.footer-cards-wrapper{
    margin: 0;
    background-color: rgb(50, 49, 49);
    display: flex;
    justify-content: space-around;
    color: #7e8081;
    a{
        color: #efa758;
    }
    .footer-end{
        margin: 0;
        background-color: #232425; 
        color: #7e8081;
        p{
            padding: 0;
        }
     }
  }



 @media only screen and (max-width: 768px) {

    .about-us-wrapper{
        display: flex;
        flex-direction: column;
    }
    .secret-season{
        height: auto;
        background-size: cover;
        padding: 20px 0;
    }
    .snow-mountain-wrapper .snow-mountain-cards{
        display: flex;
        flex-direction: column;
    }
    .season-passes-wrapper{
        height: auto !important;
    }
    .gallery .gallery-container{
        display: flex;
        flex-direction: column;
    }
    .gallery .photo{
        width: auto;
    }
  }